*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
} 

.adress {
    
  display: block;
  width: 240.52px;
  height: 98px;
  margin-right: 20px;
  font-size: 18px;
  font-style: inherit;
  line-height: 1.35em;
  text-underline-position: under;
  color: #000000;
}
